type: string
{{- with .Values }}
enum:
{{- range . }}
  - {{ .name }}
{{- end }}
{{- end }}
x-go-type: decentralized.{{ .Name }}
x-go-type-skip-optional-pointer: true
x-go-type-import:
  path:  github.com/rss3-network/node/v2/schema/worker/decentralized
