name: Test
on:
  push:
    branches:
      - main
      - prod
    paths-ignore:
      - "deploy/**"
  pull_request:
    paths-ignore:
      - "deploy/**"

jobs:
  test:
    name: Test
    runs-on: self-hosted
    steps:
      - name: Import Secrets
        uses: hashicorp/vault-action@v3.0.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/data/network/rss3-node ENDPOINT_ETHEREUM ;
            kv/data/network/rss3-node ENDPOINT_POLYGON ;
            kv/data/network/rss3-node ENDPOINT_ARBITRUM ;
            kv/data/network/rss3-node ENDPOINT_OPTIMISM ;
            kv/data/network/rss3-node ENDPOINT_BASE ;
            kv/data/network/rss3-node ENDPOINT_AVALANCHE ;
            kv/data/network/rss3-node ENDPOINT_SAVM ;
            kv/data/network/rss3-node ENDPOINT_GNOSIS ;
            kv/data/network/rss3-node ENDPOINT_BINANCE_SMART_CHAIN ;
            kv/data/network/rss3-node ENDPOINT_LINEA ;
            kv/data/network/rss3-node FARCASTER_URI
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test
        run: make test
